.cards{
    display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* grid-template-rows: 1fr 1fr  1fr 1fr; */
	align-items: center; 
	position:relative;
	z-index: 0;
	width: 85%;
	margin-top: 100px;
}
