h3 {
    text-align: left;
    margin-left: 5rem;
    font-size: larger;
    color: rgba(51, 51, 51);
    text-align: center;
}

.carousel {
 width: 100%;
 /* max-width: 130em; */
 background-color: lightskyblue;
 overflow: hidden;
}

.carousel_cards {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2em;

    transition: all 0.5s ease;
    /* transform: translateX(0%); */
   }

.carousel_card {
    width: calc(100%/2 - 2em);
    min-height: 10vh;
}

.linki {
}

.carousel_controls {
    width: 100%;
    background-color: rgb(169, 86, 86);
    padding: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
