.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: rgba(51, 51, 51, 1); /*semi-transparent*/
    color: #fff;
    /* background-image: url(); */
    background-size: cover; /*ajusta la imagen al tamaño de la navbar*/
    background-position: center; /* alinear la imagen del fondo al centro de la navbar*/
    width: 80%;
	z-index: 3;
}

.navbar_search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15%;
    margin: 2%;
}


/* .navbar_search input {
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
} */